form {
    position: fixed;
    top: 30%;
    left: 45%;
    text-align: left;
    padding: 10px;
    border: 1px solid grey;
    width: 270px;
}

form input {
    display: inline-block;
    text-align: right;
    margin-left: 10px;
    margin-bottom: 7px;
    width: 120px;
    border: 1px solid gray;
}

label {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.username {
    padding: 2px;
    display: inline-block;
    width: 130px;
    text-align: left;
}

.email {
        padding: 2px;
        display: inline-block;
        width: 130px;
        text-align: left;
        
}

.position {
    padding: 2px;
    display: inline-block;
    width: 65px;
    text-align: left;
    margin-left: 21px;
    margin-bottom: 5px;
}

.select {
    padding: 1px;
    display: inline-block;
    width: 100px;
    text-align: left;
}

.full {
    display: inline-block;
    width: 25px;
    text-align: left;
    margin-left: 3px;
}

.ft{
    width: 60px;
}

.part {
    display: inline-block;
    width: 25px;
    text-align: left;
    margin-left: 87px;
}

.pt {
    width: 60px;
}

form input[type = "submit"] {
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    border-radius: 3px;
    width: 60px;
    margin-left: 20px;
}


.userError {
    color: red;
    font-weight: 400;
}

.emailError {
    color: red;
    font-weight: 400;
}

.positionError {
    color: red;
    font-weight: 400;
}

.timeError {
    color: red;
    font-weight: 400;
}
